@font-face{
	font-family: 'Cabin-Bold';
	src:url(../font/Cabin-Bold.otf);
	font-style: normal;
	font-weight: bold;
}
@font-face{
	font-family: 'Calibri';
	src:url(../font/Calibri.ttf);
	font-style: normal;
	font-weight: normal;
}
body{
	font-family: 'Calibri', sans-serif;
	font-weight: normal;
	box-sizing: border-box;
}
.wrapper{
	width: 1140px;
	margin: 0 auto;
	padding: 0;
}

/*-------Шапка сайта с навигацией и лого-------*/
.header{
	background: #303446;
	height: 100px;
	width: 100%;
	position: fixed;
	top: 0px;
	z-index: 999;
}
.headcontent .logo{	
	color: #fff;
	float: left; 
	font-family: 'Cabin-Bold', sans-serif;
	font-weight: bold;
	cursor: pointer;
}
.headcontent .logo a{
	display: block;
	width: 250px;
	height: 100px;
	color: #fff;
	text-decoration: none;
	font-size: 2.2em;
	line-height: 100px;
	transition: all 0.2s;
}
.headcontent .icon{
	display: none;
}
.headcontent ul li{
	display: block;
	height: 100px;
	float: left;
	font-size: 1.25em;
	cursor: pointer;
}
.headcontent li:after{
	content:'';
}
.headcontent ul{
	float: right;
}
.headcontent a{
	display: block;
	color: #fff;
	height: 100px;
	line-height: 100px;
	padding: 0 20px;
	transition: all 0.2s;
}
.headcontent li:last-child{
	padding: 0px;
}
.headcontent .current, 
.headcontent .logo a:hover, 
.headcontent ul li a:hover{
	color: #457CE3;
	transition: all 0.2s;
	text-shadow: 1px 1px rgba(0,0,0,.5);
}

/*---------------Основной контент--------------*/
.main{
	margin-top: 100px;
}
.center-foto{
 	height: 355px;
	background: url(../images/main_1920x400.jpg) center center no-repeat #300a39;
}

/*---------Три блока - Что такое, Частые вопросы и Характеристики---------*/
.container-block-about{
	height: 360px;
}
.container-block-about .block-about{
	text-align: center;
	float: left;
	width: 340px;
	height: 300px;
	margin: 30px 20px;	
	cursor: pointer;
}
.container-block-about .block-icon{
	width: 134px;
	height: 95px;
	z-index: 9;
	margin: 0 auto;
	transition: all 0.2s;
	opacity: 0.85;
}

.container-block-about .icon-1{
	background: url(../images/icon-1.svg) center center no-repeat;
}
.container-block-about .icon-2{
	background: url(../images/icon-2.svg) center center no-repeat;
}
.container-block-about .icon-3{
	background: url(../images/icon-3.svg) center center no-repeat;
}
.container-block-about .block-icon:hover{
	transition: all 0.2s;
	opacity: 1;
}
.container-block-about .block-title, 
.container-block-develop .block-title{
	height: 70px;
	line-height: 70px;
	font-size: 1.7em;
	font-weight: normal;
}
.container-block-about .block-text,
.container-block-develop .block-text{
	height: 90px;
	color: #5F5F5F;
	font-size: 1.1em;
	line-height: 1.438em;
}
.container-block-about .block-more,
.container-block-develop .block-more{
	width: 100%;
	height: 45px;
	line-height: 45px;
	background-color: #303446;
	font-size: 1.25em;
	color: #fff;
	transition: all ease-in-out 0.4s;
	text-shadow: 1px 1px rgba(0,0,0,.5);
}
.container-block-about .block-more:hover,
.container-block-develop .block-more:hover{
	color: #457CE3;
	cursor: pointer;
	transition: all ease-in-out 0.15s;
}
/*---------Документация и создатели---------*/
.documentation{
	background: url("../images/p1_doc.jpg") no-repeat center center #222;
	background-size: auto 100%;
	height: 250px;
	position: relative;
	top: 20px;
	z-index: 1;
	padding: 40px 12px 60px;
}
.team{
	background: url("../images/p2_team.jpg") no-repeat center center #222;
	background-size: auto 100%;
	height: 250px;
	position: relative;
	top:-20px;
	z-index: 1;
	padding: 60px 12px 40px;
}
.documentation .wrapper, 
.team .wrapper{
	width: 950px;
	height: 100%;
}
.documentation .text-docs, 
.team .text-team{
	color: #fff;
	width: 500px;
	height: 100%;
	float: left;
	font-size: 16px;
	line-height: 25px;
	padding: 0 15px;
}
.documentation .text-docs h5, 
.team .text-team h5{
	margin: 0;
	font-size: 25px;
}
.documentation .docs-button, 
.team .team-button{
	position: relative;
	float: left;
	width: 300px;
	height: 50px;
	margin: 50px 75px;
	text-align: center;
	line-height: 43px;
	font-size: 22px;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.35s;
	/*position: relative;
	behavior: url(../pie/PIE.htc);*/
}
.documentation .docs-button:hover, 
.team .team-button:hover{
	border: 2px solid #bbb;
	color: #bbb;
	transition: all 0.35s;
	text-shadow: 1px 1px 1px rgb(0,0,0);
	box-shadow: 1px 1px 1px rgb(0,0,0);
	/*position: relative;
	behavior: url(../pie/PIE.htc);*/
}
.documentation .docs-button:active, 
.team .team-button:active{
	position: relative;
	top:1px;
	left:1px;
}

/*---------Блок разработки---------*/
.container-block-develop{
	width: 970px;
	height: 335px;
	margin: 0px auto 0px;
	position: relative;
	z-index: 2;
}
.container-block-develop .block-develop{
	float: left;
	width: 290px;
	height: 100%;
	margin: 0 25px;
	text-align: center;
	border: 1px solid #ccc;
	border-radius: 10px;
	background-color:#fff;
	box-shadow:2px 2px 5px rgba(0,0,0, 0.2);
	/*position: relative;
	behavior: url(../pie/PIE.htc);*/
}
.container-block-develop .block-develop-1{
	margin-left: 0;
}
.container-block-develop .block-develop-3{
	margin-right: 0;
}
.container-block-develop .block-img{
	width: 264px;
	height: 138px;
	margin: 12px;
	border-radius: 5px;
	/*position: relative;
	behavior: url(../pie/PIE.htc);*/
}
.container-block-develop .img-1{
	background: url(../images/pc-sdk.jpg) center center no-repeat;
}
.container-block-develop .img-2{
	background: url(../images/mobile-sdk.jpg) center center no-repeat;
}
.container-block-develop .img-3{
	background: url(../images/audio-sdk.jpg) center center no-repeat;
}
.container-block-develop .block-title{
	height: 40px;
	line-height: 40px;
	font-size: 1.55em;
	padding: 0;
	margin: 10px 0;
	font-weight: normal;
}
.container-block-develop .block-text{
	height: 50px;
	color: #5F5F5F;
	font-size: 1.1em;
	line-height: 1.438em;
}
.container-block-develop .block-more{
	width: 264px;
	border-radius: 5px;
	margin: 12px;
	background: #457CE3;
    border-color: #0084cc;
    position: relative;
    behavior: url(../pie/PIE.htc);
}
.container-block-develop .block-more:hover{
	background: #5C92F6;
	color: #fff;
	cursor: pointer;
	transition: all ease-in-out 0.15s;
}

/*---------Фото устройств---------*/

.container-block-photo{
	margin-top: 70px;
	height: 290px;
	margin-bottom: 50px;
}
.container-block-photo .block-fotos{
	width: 360px;
	height: 270px;
	float:left;
	margin-right: 30px;
}
.container-block-photo .block-2{
	padding-top: 25px;
}
.container-block-photo .block-3{
	margin-right: 0;
}
.container-block-photo .fotos{
	height: 215px;
	z-index: 1;
	transition:all ease-in-out 0.2s;
}
.container-block-photo .foto-1{
	background: url(../images/foto-1.jpg) no-repeat center center;
}
.container-block-photo .foto-2{
	background: url(../images/foto-2.jpg) no-repeat center center;
}
.container-block-photo .foto-3{
	background: url(../images/foto-3.jpg) no-repeat center center;
}
.container-block-photo .fotos:hover{
	transform: scale(1.05);
	transition: all ease-in-out 0.2s;
	cursor: pointer;
}
.container-block-photo .text{
	position: relative;
	background-color:#303446;
	height: 55px;
	line-height: 55px;
	width: inherit;
	text-align: center;
	color:#fff;
	font-size: 1.35em;
	z-index: 9;
	transition:all ease-in-out 0.2s;
	text-shadow:1px 1px rgba(0,0,0,.5);
}
.container-block-photo .text:hover{
	color:#457CE3;
	cursor: pointer;
	transition:all ease-in-out 0.2s;
	box-shadow:1px 1px 1px rgba(0,0,0,0.5);
	/*position: relative;
	behavior: url(../pie/PIE.htc);*/
}



/*---------********Футер********---------*/

/*---------Телефоны---------*/
.tel{
	height: 60px;
	line-height: 60px;
	background: url('../images/bg02.jpg');
	text-align: center;
	font-size: 1.8em;
	color: #fff;
	text-shadow:1px 1px rgba(0,0,0,.5);
}
.tel .wrapper{
	width: 850px;
}

/*---------Копирайт---------*/
.copyright{
	height: 45px;
	line-height: 45px;
	background: url('../images/oculus_logo_white.svg') center center no-repeat #303446;
	color: #fff;
	font-size: 1.2em;
}

/*---------Кнопка Вверх---------*/
.scrollup{
	width:61px;
	height:61px;
	opacity:0.4;
	position:fixed;
	bottom:110px;
	right:30px;
	display:none;
	text-indent:-9999px;
	background: url('../images/icon_top.svg') center center no-repeat;
	transition:all 0.3s;
	z-index: 99;
}
.scrollup:hover{
	opacity:0.9;
	transition:all 0.3s;
}

/*---------Clearfix---------*/
.clearfix:after{
	display: block;
	content:'';
	clear: both;
}





/*--************@Media***********--*/

/*------@Media - Half of Full HD------*/
@media screen and (max-width:1160px) and (min-width: 721px){
	.wrapper{
		width: 800px;
	}
/*Шапка сайта с навигацией и лого*/
	.headcontent a{
		padding: 0 10px;
	}
/*Три блока - Что такое, Частые вопросы и Характеристики*/
	.main .container-block-about{
		height: 340px;
	}
	.main .container-block-about .block-about{
		width: 260px;
		height: 300px;
		margin: 20px 5px;
	}
	.main .container-block-about .block-title{
		height: 60px;
		line-height: 60px;
	}
	.main .container-block-about .block-text{
		height: 100px;
	}
	.main .container-block-about .block-about-1{
		margin-left: 0px;
	}
	.main .container-block-about .block-about-3{
		margin-right: 0px;
	}
/*Блок разработки*/
	.container-block-develop{
		width: 880px;
	}
	.container-block-develop .block-develop{
		padding: 0;
		margin: 0 5px 0 0;
	}
	.container-block-develop .block-develop-3{
		margin-right: 0px;
	}
/*Документация и История проекта*/
	.documentation .wrapper, 
	.team .wrapper{
		width: 850px;
	}
	.documentation .docs-button, 
	.team .team-button{
		width: 350px;
		margin: 50px 25px;
	}
	.documentation .text-docs, 
	.team .text-team{
		width: 450px;
		padding: 0;
		margin: 0;
	}
/*Фото устройств*/
	.main .container-block-photo{
		width: 880px;
	}
	.container-block-photo .block-fotos {
		margin-bottom: 10px;
		margin-right: 5px;
		width: 290px;
	}
	.container-block-photo .block-3{
		margin-right: 0;
	}
	.container-block-photo .block-2{
		padding-top: 0px;
	}
/*Футер*/
	.footer .tel{
		font-size: 1.6em;
	}
	.tel .wrapper{
		width: 670px;
	}
}







/*------@Media - Mobile with resolution - 720px------*/

@media screen and (max-width:720px){
/*Шапка сайта с навигацией и лого*/
	.wrapper{
		width: 350px;
	}
	.headcontent{
		margin: 0 auto;
	}
	.headcontent .logo a{
		font-size: 2.4em;
		width: 250px;
		padding: 0 0 0 25px;
	}
	.headcontent .icon{
		display: block;
		background: url(../images/icon.svg) center center no-repeat;
		float: left;
		position: relative;
		width: 100px;
		height: 100px;
	}
	.headcontent .menu{
		display: none;
	}
	.headcontent .menu-2{
		float: left;
		font-size: 17px;
		width: 130px;
		height: 100%;
		margin: 20px 0;
		padding: 0;
	}
	.headcontent a {
		height: 70px;
		line-height: 70px;
	}	
	.headcontent ul li {
		height: 70px;
	}
	.headcontent .checkout .checkout__button{
		height: 95px;
		line-height: 95px;
	}
/*Центральное фото*/
	.main .center-foto{		
		height: 245px;
		margin: 0 auto;
		background: url(../images/main_360x245.jpg) center center no-repeat #300a39;
	}
/*Три блока - Что такое, Частые вопросы и Характеристики*/
	.main .container-block-about:before{
		display: block;
		text-align: center; 
		font-size: 20px; 
		margin-top: 20px;
		content:'Информация о проекте';
	}
	.main .container-block-about{
		margin: 0 auto;
		height: 1060px;
	}
	.main .container-block-about .block-about{
		margin: 20px 30px;
		width: 300px;
		border: 1px solid #ccc;
		border-radius: 10px;
		/*position: relative;
		behavior: url(../pie/PIE.htc);*/
	}
/*Документация и История проекта*/
	.documentation .wrapper,
	.team .wrapper{
		width: 350px;
		height: 100%;
	}
	.documentation, .team{
		padding: 20px 10px;
		height: 320px;
		top: 0px;
		margin: 20px 0;
	}
	.documentation .text-docs{
		width: 330px;
		height: 230px;
	}
	.team .text-team{
		width: 330px;
		height: 210px;
	}
	.team{
		height: 300px;
	}
	.documentation .docs-button, 
	.team .team-button{
		float: left;
		width: 200px;
		height: 40px;
		line-height: 33px;
		margin: 10px 80px;
	}
/*Для разработчика*/
	.main .container-block-develop:before{
		display: block;
		text-align: center; 
		font-size: 20px; 
		content:'Скачать приложения для разработчика';
	}
	.main .container-block-develop{
		width: 290px;
		height: 100%;
	}
	.main .container-block-develop .block-develop{
		padding: 0;
		margin: 15px 0;
	}
/*Слайдер отключен*/
	.main .container-slider{
		display: none;
	}
/*Фото устройств*/
	.container-block-photo:before{
		display: block;
		text-align: center; 
		font-size: 20px; 
		margin: 25px 0;
		content:'Устройства виртуальной реальности';
	}
	.main .container-block-photo{
		height: 930px;
		margin: 0 auto;
	}
	.main .container-block-photo .block-fotos{
		margin-bottom: 30px;
	}
	.main .container-block-photo .block-2{
		padding-top: 0px;
	}
	.container-block-photo .fotos:hover{
		transform: scale(1);
	}
/*Футер*/
	.footer .tel{
		font-size: 22px;
		height: 90px;
		line-height: 30px;
	}
	.footer .wrapper{
		width: 340px;
	}
	.footer .right, 
	.footer .left{		
		width: 340px;
		text-align: center;
	}
	.footer .copyright{
		margin: 0 auto;
		height: 120px;
		background: url('../images/oculus_logo_white.svg') center center no-repeat #303446;
		color: #fff;
		text-align: center;
		font-size: 18px;
		text-shadow:1px 1px rgba(0,0,0,.5);
	}
	.copyright .left{
		height: 35px;
		line-height: 35px;
		margin-bottom: 45px;
	}
	.copyright .right{
		height: 35px;
		line-height: 35px;
	}
	.scrollup{
		right:-300px;
	}
}